@{
    ViewBag.Title = "About";
}
<link href="~/Content/aboutUs.css" rel="stylesheet" />
<div class="section">
    <section>
        <div class="slidertp"><title>Kikser</title></div>
        <p>
            "Lorem 
            <link href="~/Content/aboutUs.css" rel="stylesheet" />ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        </p>
        <div class="sliderbt"><title>Kikser</title></div>
    </section>
</div>